@font-face {
  font-family: "Helvetica-Bold";
  src: url("/Helvetica-Bold-Font.ttf") format("truetype");
}

@font-face {
  font-family: "Roobert-Regular";
  src: url("/Roobert-Regular.otf") format("opentype");
}

@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");

:root {
  --aureus-gold: #e2c044;
  --aureus-ivory: #f5f0f6;
  --aureus-black: #000000;
  --aureus-red: #800020;
}

body,
html {
  background-color: var(--aureus-black);
  color: var(--aureus-ivory);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body {
  max-width: 1440px;
  width: 100vw;
  /* TODO DELETE */
  height: fit-content;
  background-color: var(--aureus-black);
  /* padding: 16px; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica-Bold", sans-serif;
}

p,
span {
  font-family: "Roobert-Regular", sans-serif;
}

*,
*::after,
*::before {
  border: 0.1px rgba(255, 0, 0, 0.342) solid;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

section,
footer {
  padding: 32px 60px 0px 60px;
}

.hero {
  /* background-image: url(..); */
  background-color: red;
  width: 100%;
  /* TODO DELETE FIXED HEIGHT */
  /* height: 100vh; */
  min-height: 50vh;
  height: 697px;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-between;
  color: var(--aureus-gold);
  background: url("/public/hero-bg.png") center / cover no-repeat;

  background-position: center;
  background-repeat: no-repeat;

  h1 {
    font-size: 86px;

    line-height: 90%;
    letter-spacing: -4px;
    max-width: 800px;
  }

  p {
    padding-top: 34px;
    max-width: 400px;
    line-height: 130%;
  }

  button {
    width: 162px;
    height: 56px;
    display: inline-flex;
    padding: 14px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 7px;
    background: linear-gradient(97deg, #e3c045 0%, #d5be70 100%);
    box-shadow: 0px 0px 20px 0px rgba(227, 192, 69, 0.6);

    span {
      color: #000;
      font-family: "Roobert-Regular";
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: 140%; /* 28px */
      letter-spacing: -0.44px;
    }
  }
  .hero__lower-content-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
  }

  .hero__links-container {
    display: flex;
    gap: 32px;
    color: var(--aureus-gold);
    justify-content: center;
    align-items: center;
  }

  #hero__main-logo-text {
    min-width: 237px;
  }

  .hero__logo-container {
    span {
      color: var(--aureus-gold);
      font-family: "DM Mono", monospace;
      font-size: 20px;
      text-shadow: 0px 2px 33px rgba(227, 192, 69, 0.6),
        /* Simplified to a reasonable decimal */ 0px 0px 17px #e3c045; /* Removed unnecessary `0px` after the blur */
    }
  }

  .hero__logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .hero__book-call-button-container {
    display: flex;
    justify-content: center;
    align-items: end;
  }
}

header {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
}

.who-we-are {
  display: flex;
  padding: 120px 103px 140px 103px;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  align-self: stretch;

  h3 {
    color: #e3c045;
    text-shadow: 0px 0px 17px #e3c045;
    font-family: "DM Mono", monospace;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */
    text-transform: uppercase;
  }
}

h3 {
  color: var(--aureus-black);
  text-shadow: 0px 0px 17px #e3c045;
  font-family: "DM Mono", monospace;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 28px */
  text-transform: uppercase;
}

.who-we-are__text-and-svg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 240px;
  max-height: fit-content;
  gap: 10px;

  p {
    max-width: 1525px;
    color: var(--Brand-colors-White, #f5f0f6);
    text-align: center;
    font-family: "Roobert-Regular";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 48px */
  }

  img {
    height: 100%;
  }

  /* .who-we-are__bracket--left {
    border: 1px rgb(47, 255, 36) solid;
    height: 100%;
    display: flex;
    width: 10px;
  } */
}

.why-us {
  width: 100%;
  display: flex;
  padding: 60px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: var(--Brand-colors-Yellow, #e2c044);

  .why-us__reason-card-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px; /* Optional: Add spacing between grid items */
    width: 100%;
    color: var(--aureus-black);
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 32px */
    text-align: center;
    height: 440px;
    justify-content: center;
    align-items: center;
  }

  .why-us__reason-card-grid > .why-us__reason-card:nth-of-type(2) > span {
    max-width: 130px;
  }

  .why-us__reason-card-grid > .why-us__reason-card:nth-of-type(4) > span {
    /* max-width: 291px; */
  }

  .why-us__reason-card-grid > .why-us__reason-card:nth-of-type(1),
  .why-us__reason-card-grid > .why-us__reason-card:nth-of-type(2),
  .why-us__reason-card-grid > .why-us__reason-card:nth-of-type(3) {
    border-right: 1px #c3a32d solid;
  }
}

.why-us__reason-card {
  display: flex;
  /* height: 330px; */
  height: 128px;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 24px;
  flex: 1 0 0;

  img {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
  }

  span {
    margin-bottom: auto;
  }
}

.why-us__book-a-call-button {
  position: relative;
  display: flex;
  padding: 14px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  border: 1px solid var(--Grey-900, #14141432);

  background-image: url("/public/button-border.zip");
  background: #e3c045;
  /* box-shadow: 0px 0px 20px 0px rgba(227, 192, 69, 0.6); */

  span {
    color: var(--Grey-900, #141414);
    font-family: "Roobert-Regular";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 28px */
    letter-spacing: -0.44px;
  }
}

.our-services {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 60px;

  h2 {
    color: var(--Brand-colors-Yellow, #e2c044);
    font-family: "Roobert-Regular";
    font-size: 52px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 52px */
    margin-top: 20px;
  }

  .our-services__heading-container {
    span {
      color: #e3c045;
      text-shadow: 0px 0px 17px #e3c045;
      font-family: "DM Mono", monospace;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%; /* 28px */
      text-transform: uppercase;
    }
  }

  span {
    color: #e3c045;
    text-shadow: 0px 0px 17px #e3c045;
    font-family: "DM Mono", monospace;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */
    text-transform: uppercase;
  }

  .our-services__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 60px;
  }

  .our-services__card {
    display: flex;
    flex-direction: column;

    h4 {
      min-height: 140px;
    }
  }

  h4 {
    color: var(--Brand-colors-Yellow, #e2c044);
    font-family: "Roobert-Regular";
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 43.2px */
  }
  .our-services__card-image-container {
    height: 400px;
    width: 100%;
    position: relative;
  }
  span {
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
    font-family: "Roobert-Regular";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 26.4px */
    text-transform: none;
    text-align: left;
    padding: 16px 0px;
  }

  img {
    height: 311px;
    position: absolute;
    right: 0;
    top: 25px;
    transform-origin: top right;
    transform: rotate(15deg);
    opacity: 0.1;
    cursor: pointer;
    transition: all 0.5s ease-out;

    &:hover {
      opacity: 1;
    }
  }

  .our-services__crown-image {
    height: 200px;
  }
}

.our-promise {
  min-height: 821px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  h3 {
    color: #e3c045;
    text-shadow: 0px 0px 17px #e3c045;
    font-family: "DM Mono", monospace;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */
    text-transform: uppercase;
    align-self: center;
    margin-bottom: 10px;
  }

  .our-promise__upper-grid {
    margin: 60px 0px 60px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    .our-promise__card {
      &:nth-of-type(1),
      &:nth-of-type(2) {
        border-right: 1px rgba(255, 255, 255, 0.234) solid;
      }
    }
  }

  .our-promise__lower-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;

    .our-promise__card {
      &:nth-of-type(1),
      &:nth-of-type(2),
      &:nth-of-type(3) {
        border-right: 1px rgba(255, 255, 255, 0.234) solid;
      }
    }
  }

  .our-promise__card {
    padding-top: 20px;
    display: flex;
    /* height: 330px; */
    height: 128px;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 24px;
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 30.8px */

    img {
      width: 24px;
      height: 24px;
      flex-shrink: 0;
    }

    span {
      margin-bottom: auto;
    }
  }
}

.the-leadership {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 54px;

  .the-leadership__left-information-container {
    display: flex;
    flex-direction: column;
    h2 {
      color: var(--Brand-colors-Yellow, #e2c044);
      font-family: "Roobert-Regular";
      font-size: 52px;
      font-style: normal;
      font-weight: 600;
      line-height: 100%; /* 52px */
      margin-bottom: 10px;
    }

    span {
      color: #797979;
      font-family: "Roobert-Regular";
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%; /* 19.2px */
      margin-bottom: 10px;
    }

    p {
      justify-self: end;
      margin: 4px 0px;
      color: var(--Brand-colors-White, #f5f0f6);
      font-family: "Inter", sans-serif;
      font-size: 20px;
      font-style: normal;
      font-weight: 100;
      line-height: 146%; /* 28px */
      letter-spacing: 0px;
    }

    .the-leadership__persons-role {
      margin-top: auto;
      border-left: 1px rgba(255, 255, 255, 0.405) solid;
      border-right: 1px rgba(255, 255, 255, 0.405) solid;
      margin: auto 20px 0px 20px;
      padding: 0px 23px;
    }
  }
  h3 {
    color: #e3c045;
    text-shadow: 0px 0px 17px #e3c045;
    font-family: "DM Mono", monospace;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */
    text-transform: uppercase;
  }

  .the-leadership__persons-role {
    margin-top: auto;
  }
  .the-leadership__person-card {
    display: flex;
    padding: 10px;
  }

  .the-leadership__right-profile-image-container,
  .the-leadership__left-information-container {
    width: 50%;
    display: flex;
    flex-direction: column;
  }
}

.what-clients-say {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 17px;
  h3 {
    color: #e3c045;
    text-shadow: 0px 0px 17px #e3c045;
    font-family: "DM Mono", monospace;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */
    text-transform: uppercase;
    align-self: center;
  }

  .what-clients-say__book-call-button {
    display: flex;
    padding: 14px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: #e3c045;
    box-shadow: 0px 0px 20px 0px rgba(227, 192, 69, 0.6);
    margin-top: 20px;
  }

  .what-clients-say__review-carousel-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .what-clients-say__review-card {
    display: flex;
    flex-direction: column;
    display: flex;

    padding: 40px 32px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 8px;
    background: var(--Grey-900, #141414);
    gap: 42px;

    p {
      color: var(--Brand-colors-White, #f5f0f6);
      font-family: "Inter", sans-serif;
      font-size: 20px;
      font-style: normal;
      font-weight: 100;
      line-height: 140%; /* 28px */
      letter-spacing: 0px;
    }
  }

  .what-clients-say__lower-name-and-title-container {
    display: flex;
    margin-top: auto;
  }
  .what-clients-say__name-and-title-container-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.case-studies {
  width: 100%;
  h3 {
    color: #e3c045;
    text-shadow: 0px 0px 17px #e3c045;
    font-family: "DM Mono", monospace;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */
    text-transform: uppercase;
    justify-self: center;
    margin-bottom: 60px;
  }

  h4 {
    color: var(--Brand-colors-Yellow, #e2c044);
    font-family: "Roobert-Regular";
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 38.4px */
  }

  span {
  }

  .case-studies__container {
    display: flex;
    width: 100%;
  }

  .case-studies__vallania-container {
    background-image: url("/public/case-study.png");
  }

  .case-studies__Naffles-container {
    background-image: url("/public/case-study-naffles.png");
  }

  .case-studies__vallania-container,
  .case-studies__Naffles-container {
    width: 50%;
    display: flex;
    /* width: 648px; */
    height: 405px;
    padding: 32px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
  }

  .case-studies__book-call-button {
    display: flex;
    padding: 14px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: #e3c045;
    box-shadow: 0px 0px 20px 0px rgba(227, 192, 69, 0.6);
    justify-self: center;
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

.contact-us {
  display: flex;
  gap: 20px;
  width: 100%;

  h2 {
    color: var(--Brand-colors-Yellow, #e2c044);
    font-family: "Roobert-Regular";
    font-size: 52px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 52px */
    align-self: stretch;
  }

  span {
    color: rgba(255, 255, 255, 0.9);
    font-family: "Roobert-Regular";
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    align-self: stretch;
    line-height: 110%; /* 30.8px */
  }

  ul {
    color: var(--Brand-colors-White, #f5f0f6);
    font-family: "Roobert-Regular";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */
  }

  .contact-us__info-container-left {
    font-family: "Roobert-Regular";

    h2 {
      background-color: red;
      margin-bottom: 40px;
    }

    ul {
      color: var(--Brand-colors-White, #f5f0f6);
      font-family: "Roobert-Regular";
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%; /* 28px */
      display: flex;
      flex-direction: column;
      gap: 24px;
      margin-top: 24px;

      li {
        position: relative;
        left: 19px;
        width: 97%;

        &::marker {
          color: #c3a32d;
        }
      }
    }
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 60px;

    label {
      color: #fff;
      font-family: "Roobert-Regular";
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px; /* 142.857% */
      margin-bottom: 10px;
    }

    input,
    textarea {
      display: flex;
      padding: 12px 6px;
      align-items: center;
      gap: 8px;
      align-self: stretch;
      border-radius: 8px;
      background: var(--Grey-800, #292929);

      /* Shadow/xs */
      box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    }
  }

  .conact-us__form-container-right {
    border: 1px yellow solid;
    border-radius: 8px;
    border: 1px solid rgba(226, 192, 68, 0.4);
    background: var(--Grey-900, #141414);
    box-shadow: 0px 0px 20px 0px rgba(227, 192, 69, 0.6);
    display: flex;
    flex-direction: column;
    gap: 11px;
    padding: 32px 48px;

    h1 {
      color: #e3c045;
      text-shadow: 0px 0px 17px #e3c045;
      font-family: "DM Mono", monospace;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%; /* 28px */
      text-transform: uppercase;
    }

    .form__first-name-last-name {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
    }

    .form__first-name,
    .form__last-name {
      width: 50%;
      display: flex;
      flex-direction: column;
    }
    .form__email {
      display: flex;
      flex-direction: column;
    }

    .form__tell-us-about {
      display: flex;
      flex-direction: column;
    }

    .form__monthly-budget {
      display: flex;
      flex-direction: column;
    }

    .form__submit-button {
      display: flex;
      width: 100%;
      padding: 14px 32px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      align-self: stretch;
      border-radius: 4px;
      background: #e3c045;
      box-shadow: 0px 0px 20px 0px rgba(227, 192, 69, 0.6);
    }
  }
}

footer {
  /* background-image: url(..); */
  background-color: red;
  width: 100%;
  /* TODO DELETE FIXED HEIGHT */
  /* height: 100vh; */
  min-height: 50vh;
  height: 697px;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  color: var(--aureus-gold);
  background: url("/public/crown-footer.png") center / cover no-repeat;

  background-position: center;
  background-repeat: no-repeat;
  justify-content: space-between;

  div {
    display: flex;
    flex-direction: column;
    height: fit-content;
  }
}

@media (max-width: 930px) {
  *,
  *::after,
  *::before {
    /* border: 1px rgb(24, 10, 171) solid; */
    background-color: #0080243a;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  .hero__lower-content-container {
    flex-wrap: wrap;
    gap: 20px;
  }

  .why-us__reason-card-grid > .why-us__reason-card:nth-of-type(2) {
    border-right: none !important;
  }

  .our-services__grid {
    grid-template-columns: repeat(1, 1fr) !important;
    grid-template-rows: repeat(3, 1fr) !important;
  }

  .hero__links-container {
    display: none !important;
  }

  .why-us__reason-card-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr) !important;
    grid-template-rows: repeat(2, 1fr) !important;
    gap: 16px; /* Optional: Add spacing between grid items */
    width: 100%;
  }

  .who-we-are {
    p {
      font-size: 30px;
      width: 27ch;
    }
  }

  .our-promise__lower-grid {
    grid-template-columns: repeat(2, 1fr) !important;
    grid-template-rows: repeat(2, 1fr) !important;
  }

  .our-services__card {
    display: flex;
    flex-direction: column;

    h4 {
      min-height: 60px !important;
      font-size: 50px;
    }
  }

  .contact-us {
    flex-direction: column;
  }

  .what-clients-say__review-carousel-grid {
    grid-template-columns: repeat(1, 1fr) !important;
    grid-template-rows: repeat(3, 1fr) !important;
  }

  .case-studies__container {
    flex-direction: column;
    gap: 10px;
  }

  .case-studies__vallania-container,
  .case-studies__Naffles-container {
    width: 100% !important;
  }

  .the-leadership__person-card {
    flex-direction: column;
  }

  .the-leadership__left-information-container,
  .the-leadership__right-information-container {
    width: 100% !important;
  }
}

@media (max-width: 600px) {
  *,
  *::after,
  *::before {
    background-color: #004d803a;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  section,
  .who-we-are {
    padding: 32px 10px 40px 10px;
  }

  .hero__heading-text-and-paragraph-container {
    h1 {
      font-size: 83px;
      letter-spacing: -5px;
    }
    p {
      line-height: 24px;
      font-size: 16px;
    }
  }
  .hero__book-call-button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hero__lower-content-container {
    flex-direction: column;
    align-items: start;
    gap: 20px;
  }

  h1 {
    font-size: 48px;
    text-align: left;
  }

  p {
    text-align: left;
  }

  .why-us__reason-card-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 16px; /* Optional: Add spacing between grid items */
    width: 100%;
  }

  .who-we-are,
  .why-us {
    p {
      font-size: 18px;
      width: 20ch;
    }

    h3 {
      font-size: 30px;
    }

    span {
      font-size: 20px;
    }
  }

  .our-services__card {
    h4 {
      font-size: 50px;
    }
    span {
      font-size: 29px;
      text-shadow: none;
      line-height: 20px;
    }
    .our-services__card-image-container {
      height: 290px;
    }
  }
  .our-promise {
    h3 {
      font-size: 50px;
    }
    span {
      font-size: 14px;
    }
  }
  .the-leadership {
    h3 {
      font-size: 43px;
      text-align: center;
    }
  }
  .the-leadership__left-information-container {
    h2 {
      font-size: 48px !important;
      margin-bottom: 4px !important;
    }
    p {
      font-size: 16px !important;
      line-height: 21px !important;
    }
  }

  .the-leadership__left-information-container {
    p {
      &:nth-of-type(3) {
        display: none;
      }
    }
  }
  .the-leadership__right-profile-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100% !important;
    img {
      margin: 30px 0px 30px 0px;
      width: 90%;
    }
  }

  .what-clients-say__review-card {
    gap: 10px !important;
    p {
      font-size: 16px !important;
    }
  }
}
