@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --background-blue: #3b82f6;
  background-color: var(--background-blue);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 0.1px rgb(182, 182, 255) solid; */
  font-family: "Inter", sans-serif;
  color: white;
}

html {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  color: black;
  height: 100vh;
  /* min-width: 1000px;
  max-width: 1000px; */
  overscroll-behavior: none;
}

.text-stroke {
  -webkit-text-stroke: 2px #7eadff; /* Adjust thickness and color here */
  /* color: transparent; Optional: makes the fill color transparent */
}

/* Regular spin animation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Slower spin */
.spin-slow {
  animation: spin 10s linear infinite; /* 3 seconds per rotation */
}

.no-spin {
  animation: none;
}
